* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h{
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}
body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: relative;
  cursor: none; 
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  animation: particle-animation 1s ease-out forwards;
}

@keyframes particle-animation {
  0% {
    transform: scale(0.5 );
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

.glow {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(214, 2, 2, 0) 40%);
  pointer-events: none;
 
}
